.App {
  text-align: center;
}

.to-do-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  background-color: #fefa85;
  border: 1px #ffff;
  color: #131b2d;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  }
  
  h2{
    font-family: elza, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #131b2d;
    font-size: 30px;
  }
