.App {
  text-align: center;
}

.to-do-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  background-color: #fefa85;
  border: 1px #ffff;
  color: #131b2d;
  margin: 1rem;
  height: 11rem;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.checkbox {
  grid-column: 1;
  grid-row: 1;
  height: 4rem;
  align-self: center;
}

.to-do-date {
  grid-column: 5;
  grid-row: 1;
}

.to-do-title {
  grid-column: 2;
  grid-row: 1;
  font-family: elza, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #131b2d;
  font-size: 36px;
}

.description {
  grid-column: 1/5;
  grid-row: 2;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

p{
  margin: 0.5rem;
}

form {
  display: flex;
  justify-content: start;
  justify-items: flex-start;
  font-size: 1.2rem;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

input {
  display: flex;
  height: 2rem;
  width: 30rem;
  border-radius: 10px;
}

.submit{
  justify-content: center;
  align-content: center;
  font-family: elza, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #6889f7;
  border-radius: 19px;
  color:#ffff;
  padding: 9px;
  background-color: #131b2d;
  width: 6rem;
  height: 3rem;
}
