

body {
  margin: 0;
  font-family: elza, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131b2d;
  color: #ffff;
}

.greeting-container{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 4rem);
  margin-left: 1.5rem;
  align-items: center;
  margin-right: 1.5rem;
}

.greeting{
  grid-column: 1 /span 4;
  grid-row: 1;
  text-align: left;
}

.task-button{
  justify-self: end;
  font-size: 1rem;
  grid-column: 5;
  grid-row: 1;
  height: 3rem;
  width: 7rem;
}


.date-container {
  display: flex;
  grid-column: 1 /span 4;
  grid-row: 2;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}

.current-date{
  font-size: 15px;
  color:#566995;
}


h1{
  font-family: elza, sans-serif;
  font-weight: 500;
  font-style: normal;
  color:#6889f7;
  font-size: 50px;
}

hr{
 display: flex;
 margin-top: 1rem;
 margin-bottom: 1rem;
 width: 92%;
}


.task-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 2rem;
  font-size: 2rem;
  color:#6889f7;
}

.task-counter{
  grid-column: 1;
  grid-row: 1;
  width: 10rem;
}

.status-container{
  grid-column: 5;
  grid-row: 1;
  width: 10rem;
  justify-self: end;
}

button{
  font-family: elza, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #6889f7;
  border-radius: 19px;
  color:#ffff;
  padding: 9px;
  background-color: #131b2d;
  width: 4rem;
}

button:hover{
  background-color: #6889f7;
  color:#131b2d;
}

.activeButton{
  margin-right: 0.2rem;
}
