body {
  margin: 0;
  font-family: elza, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131b2d;
  color: #ffff;
}

.greeting-container {
  margin-top: 2rem;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 35%);
  margin-left: 2rem;
  margin-right: 2rem;
}

.greeting {
  display: flex;
  grid-column: 1 / span 4;
  grid-row: 1;
  text-align: left;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

#task-button {
  justify-self: end;
  font-size: 1rem;
  grid-column: 5;
  grid-row: 1;
  height: 2.5;
  width: 7rem;
  align-self: start;
  align-content: center;
  justify-content: center;
}

.date-container {
  display: flex;
  grid-column: 1 / span 4;
  grid-row: 2;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-bottom: -3rem;
  margin-top: 2px;
}

.current-date {
  font-size: 15px;
  color: #566995;
}

h1 {
  font-family: elza, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #6889f7;
  font-size: 3rem;
}

hr {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 92%;
}

.task-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 2rem;
  color: #6889f7;
  margin-left: 2rem;
  margin-right: 2rem;
}

.task-counter {
  grid-column: 1;
  grid-row: 1;
  width: 10rem;
  text-align: left;
}

.status-container {
  display: flex;
  grid-column: 5;
  grid-row: 1;
  width: 10rem;
  justify-self: end;
  flex-direction: row;
}

button {
  font-family: elza, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #6889f7;
  border-radius: 19px;
  color: #ffff;
  padding: 9px;
  background-color: #131b2d;
  width: 4rem;
}

button:hover {
  background-color: #6889f7;
  color: #131b2d;
}

#activeButton {
  margin-left: 4px;
  margin-right: 4px;
  width: 4rem;
  height: 2.5rem;
  border-radius: 17px;
}

#doneButton {
  border-radius: 17px;
  width: 4rem;
  height: 2.5rem;
}

#allButton {
  width: 4rem;
  border-radius: 17px;
  height: 2.5rem;
}
